
<StackLayout>

  <Label class="h2" [text]="todoList.listName"></Label>

  <Label *ngIf="!todoList.items.length" class="body" text="Ningún item en la lista" textWrap="true"></Label>

</StackLayout>


<StackLayout
  *ngFor="let item of todoList.items"
  orientation="horizontal"
  width="100%"
  class="todo-item"
>
  <Flexboxlayout
    width="70%"
    height="100%"
    flexDirection="row"
    alignItems="center"
  >
    <Switch
      [checked]="item.isComplete"
      (checkedChange)="completeTodoOnClick(item.todoName, $event)"
    ></Switch>
    <Label [text]="item.todoName"></Label>
  </Flexboxlayout>
  <Flexboxlayout
    width="30%"
    flexDirection="column"
    justifyContent="space-around"
    alignItems="center"
  >
    <button
      text="Editar"
      (tap)="openEdit(item.todoName)"
    ></button>
    <button
      text="Borrar"
      (tap)="deleteTodoOnClick(item.todoName)"
    ></button>
  </Flexboxlayout>
</StackLayout>

<FlexboxLayout *ngIf="todoToEdit != ''" justifyContent="flex-end" >
  <TextField
    hint="Nuevo nombre"
    secure="false"
    returnKeyType="done"
    autocorrect="false"
    maxLength="20"
    [(ngModel)]="editedTodo"
    width="30%"
  >
  </TextField>
  <button
    text="Editar {{todoToEdit}}"
    (tap)="editTodoOnClick()"
    width="30%"
  ></button>
</FlexboxLayout>

<FlexboxLayout justifyContent="flex-end">
  <TextField
    hint="Ingresa un Todo"
    secure="false"
    returnKeyType="done"
    autocorrect="false"
    maxLength="20"
    [(ngModel)]="newTodo"
    width="30%"
  >
  </TextField>
  <button
    text="Agregar Todo"
    (tap)="addNewTodoOnClick()"
    width="30%"
  ></button>
</FlexboxLayout>
